<!-- views/partials/_flash.ejs -->
<% if (typeof success !== "undefined" && success.length) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }) %>
<% } %>

<% if (typeof error !== "undefined" && error.length) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-error"><%= msg %></div>
  <% }) %>
<% } %>

<% if (typeof info !== "undefined" && info.length) { %>
  <% info.forEach(msg => { %>
    <div class="alert alert-info"><%= msg %></div>
  <% }) %>
<% } %>
