<!-- views/partials/_head.ejs -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= pageTitle || "Ella Rises" %></title>

<link rel="stylesheet" href="/css/global.css" />


<!-- Chart.js for any charts on landing/impact pages -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
